<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <h2>What is SJW Bot?</h2><br>
      <p>Hateful liberals on Twitter are ruining everyone's favorite social network.</p>
      <p>SJW Bot is a free plugin for Google Chrome that enhances your Twitter experience by surfacing Social Justice Warriors (SJWs) in real-time.<p>
      <p>As an interactive platform, users can nominate SJWs into the shared database and review leaderboards of the top conservative contributors.</p>
      <p>There's no need to signup, and it will be free forever.</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Got It</button>
      </div>
    </div>
  </div>
</div>
