<% meta title: "About", description: "SJW Bot was created by Ryan Kulp, a conservative startup growth guy." %>

<div class="col-md-3"></div>
<div class="col-md-6 about">
  <h1>About Us</h1>
  <%= image_tag "ryan-kulp.jpg", class: 'img img-thumbnail' %>
  <p>Err, <a href="https://twitter.com/ryanckulp" target="_blank">me</a>, Ryan Kulp.</p>
  <p>I'm a conservative whose spent the last 7 years living in liberal towns like Atlanta, New York City, and San Francisco.</p>
  <p>By day I help tech startups grow, and in my free time I enjoy programming and reading.</p>
  <p>To check out some of my other projects, <a href="http://ryanckulp.com/projects" target="_blank">go here</a>.</p>
</div>
