<% meta title: "Home", description: "SJW Bot is a leading platform for identifying and avoiding dangerous SJWs on the Internet." %>

<div class="jumbotron">
  <h1>SJW Safe Space</h1><br>
  <p>The only platform that helps you identify and avoid dangerous SJWs on the internet.</p>
  <button class="btn btn-primary">Get the Widget</button>
  <button id="install-button">Add to Chrome</button>
</div>


<div class="col-md-12" id="uvp">
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">

  </div>
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">
  </div>
  <div class="col-md-4">
<img src="http://fakeimg.pl/350x200">

  </div>
</div>

<script>
$(function() {
  $('#install-button').on('click', function() {
    chrome.webstore.install();
    console.log('initialized inline install');
  })
})
</script>
