<% meta title: "Home", description: "SJW Bot is a leading platform for identifying and avoiding dangerous SJWs on the Internet." %>

<div class="jumbotron">
  <h1>Don't Let SJWs Ruin Twitter</h1><br>
  <p>SJW Bot is a free platform that helps you identify and avoid dangerous SJWs on the Internet.</p>
  <button class="btn btn-lg btn-success" id="install-button">Add to Chrome</button><br>
  <small><a href="" data-toggle="modal" data-target=".bs-example-modal-sm">What is this?</a></small>
</div>

<div class="col-md-12 how-it-works">
  <div class="col-md-4">
    <img src="http://fakeimg.pl/350x200">
    <h3>Browse</h3>
  </div>

  <div class="col-md-4">
    <img src="http://fakeimg.pl/350x200">
    <h3>Nominate</h3>
  </div>

  <div class="col-md-4">
    <img src="http://fakeimg.pl/350x200">
    <h3>Win</h3>
  </div>
</div>

<%= render "info_modal" %>

<script>
$(function() {
  $('#install-button').on('click', function() {
    chrome.webstore.install();
    console.log('initialized inline install');
  })
})
</script>
