<% meta title: "Home", description: "SJW Bot is a leading platform for identifying and avoiding dangerous SJWs on Twitter." %>

<div class="jumbotron">
  <h1>Don't Let SJWs Ruin Twitter</h1><br>
  <p>SJW Bot is a free platform that helps you identify and avoid dangerous SJWs on the Internet.</p>
  <button class="btn btn-lg btn-success" id="chrome-install">Add to Chrome</button><br>
  <small><a href="" data-toggle="modal" data-target=".bs-example-modal-sm">What is this?</a></small>
</div>

<div class="how-it-works">
  <div class="col-md-4">
    <%= image_tag "sjw-icon-twitter.png", class: 'img img-thumbnail' %>
    <h3>Browse</h3>
    <p>Spot SJWs in seconds with colorful badges.</p>
  </div>

  <div class="col-md-4">
    <%= image_tag "sjw-twitter-nomination.png", class: 'img img-thumbnail' %>
    <h3>Nominate</h3>
    <p>Do your part to keep conservatives safe.</p>
  </div>

  <div class="col-md-4">
    <img src="http://fakeimg.pl/350x200">
    <h3>Compete</h3>
    <p>Become the ultimate watchdog.</p>
  </div>
</div>

<%= render "info_modal" %>

<script>
$(function() {
  $('#chrome-install').on('click', function() {
    chrome.webstore.install();
    console.log('initialized Chrome inline install.');
  })
})
</script>
